//colors
$primary:rgba(51,39,0,0.85);
$secondary:#8a6a00;
$header:#de6101;
$description:rgba(51,39,0,0.7);
$header-2:rgba(51,39,0,0.9);
$card-text:rgba(255,251,240,0.7);
$nav:rgba(255,251,240,0.9);
$btn:#ffcc54;
$bg-color:#fffbf0;
$color: #fab515;
$ball-bg:#ffc10f;

//border-radius
$card:20px;
$btn-br:15px;

//title transform
$custom-transform:rotate(0.71deg);

// font-size
$title-font:32px;
$description-font:16px;
$logo-font:30px;
$btn-font:34.023px;